# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
Include/
Lib/
Scripts/
pyvenv.cfg
.venv/
venv/

# Git
.git/
.gitignore

# Data & volumes
data/
volumes/
*.db

# Env
.env

# ML / large files
*.pt
*.pth
*.onnx
*.bin
*.ckpt

# Docs / notebooks
*.ipynb
docs/
